<div class="card">
  
  <div class="card-image-wrapper">
    <button class="btn-fav" (click)="toggleFavorite()" [class.is-fav]="isFav">
      <span class="material-symbols-outlined">favorite</span>
    </button>

    @if (product.freeShipping) {
      <div class="free-shipping-badge">
        <span class="material-symbols-outlined truck-icon">delivery_truck_speed</span>
        <span class="shipping-text">Envío gratis</span>
      </div>
    }

    @if (product.offer) {
      <div class="card-offer">
        <span class="material-symbols-outlined offer-icon">percent_discount</span>
        <span class="offer-text">{{ product.offer }}% OFF</span>
      </div>
    }

    <img [src]="product.image" class="card-img-top" [alt]="product.name" />

    <div class="store-logo-badge" 
         [routerLink]="['/stores', storeName]" 
         style="cursor: pointer;"
         title="Ir a la tienda oficial de {{storeName}}">
      <img [src]="storeLogoUrl" class="store-logo-img" [alt]="storeName">
    </div>
  </div>

  <div class="card-body">
  <h5 class="card-title">{{ product.name }}</h5>
  <p class="card-text">{{ product.description }}</p>
  
  <div class="price-container">
    @if (product.offer) {
      <span class="card-price">
        ${{ (product.price * (1 - (+product.offer / 100))) | number:'1.0-0':'es-AR' }}<span class="price-decimals">{{ (product.price * (1 - (+product.offer / 100)) % 1 * 100) | number:'2.0-0' }}</span>
      </span>
      <span class="price-original">${{ product.price | number:'1.0-0':'es-AR' }}</span>
    } @else {
      <span class="card-price">
        ${{ product.price | number:'1.0-0':'es-AR' }}<span class="price-decimals">00</span>
      </span>
    }
  </div>
  
  <button class="btn" (click)="seeDetails(product)">
    Ver detalles
  </button>
  
  @if (isInComparativeList) {
    <button class="btn delete" (click)="deleteProductFromCompare(this.product.id)">
      Eliminar
    </button>
  } @else {
    <button class="btn delete" (click)="addToCompare(product)" [disabled]="isInComparativeList">
      Comparar
    </button>
  }

  <div class="card-footer-info">
    <div class="footer-left">
      @if (isInComparativeList) {
        <p class="text-informative">
          <span class="material-symbols-outlined">task_alt</span>
          <span>Comparando</span>
        </p>
      }
    </div>
    <div class="footer-right">
      <p class="card-stock">{{ product.stock }} Unidades</p>
    </div>
  </div>
</div>