.card{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    height: 250px;
    font-family: var(--font-family);
}

.card-header{
    font-weight: bold;
    font-size: medium;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2; 
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}
.card-body{
    font-size: small;
    margin: 0.5rem 0;
    overflow: auto;
}

.btn{
    border-radius: 0.5rem;
    color: white;
    font-family: var(--font-family);
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 0.8rem;
}